{% extends 'base.html' %}
{% block content %}



    {% if request.user.account.is_driver %}

    <p>
      You are signed up as a driver
    </p>

    <h2> Customer List </h2>
    <p>
      This is a list of of our customers [with pending orders].
    </p>
{% for account in object_list %}
{% if account.is_customer %}
<p>
  <a href="{% url 'account_detail_view' account.id %}">{{ account }}</a>
</p>
{% endif %}
{% endfor %}

{% else %}


<p>
  Browse popular drivers:
</p>

<h2> Driver List </h2>
<p>
  This is a list of our drivers
</p>
{% for account in object_list %}
{% if account.is_driver %}
<p>
<a href="{% url 'account_detail_view' account.id %}">{{ account }}</a>
</p>

{% endif %}
{% endfor %}
{% endif %}

{% endblock %}
