{% extends 'base.html' %}
{% block content %}
<div class="panel panel-default">
<div style="text-align: center;" class="panel-body">


  {% if account.is_customer and request.user.account.is_driver or account.user.id == request.user.id or request.user.account.is_customer and account.is_driver %}
  <h2>This page belongs to:</h2>
  <p style="text-align: right;">
    <a style="color:black;" href="{% url 'account_list_view' %}">back</a>

  </p>

  <hr>
    <h3>{{ account.first_name }}
        {{ account.last_name }}
    </h3>
  <p style="font-family: Old Standard TT; text-align: center;">
  <div style="height: 150px; width: 150px; text-align: center;">
  <img style="text-align: center;" src="{{ MEDIA_URL }}{{ account.image_url }}" alt="Picture of {{ account.first_name }}" width="100%"/>
</div>
</p>

<span style="font-family: Old Standard TT;">  Username: {{ account.user }}</span>
<br>
<br>

<h3>Contact info
</h3>
<hr>
<div style="font-family: Old Standard TT; text-align: center;">
<p>
  Phone: &nbsp;{{ account.phone_number }}

</p>
<p>
Home address: &nbsp;{{ account.adress }}
</p>
<p>
City: &nbsp;{{ account.city }}
</p>
<p>
State: &nbsp;{{ account.state }}
</p>
<p>
Email adress:&nbsp; {{ account.email }}
</p>
<br><br>
</div>

{% if object.user.id == request.user.id %}
  <p>
    <a href="{% url 'account_update_view' %}"><h6>Update Account Info</h6></a>
  </p>
{% endif %}

{% endif %}

{% if account.user_type == 'c' %}
{% if account.get_last_cart %}
{% if account.get_last_cart.posted %}
{% if not account.get_last_cart.in_progress %}
{% if not account.get_last_cart.complete %}

<h1>Current List:</h1>
<hr>

<div class="well well-lg">

  <a href="{% url 'cart_update_view' account.get_last_cart.id %}">Accept this list?</a>

{% for item in account.get_last_cart.items.all %}

  <ul>
    {{ item }}
  </ul>
  {% endfor %}</div>

{% endif %}
{% endif %}
{% endif %}
{% endif %}
{% endif %}
{% endblock %}

</div>
</div>
