{% extends 'base.html' %}
{% block content %}
{% if request.user.account.is_driver %}
    <p>
      {{ request.user }}
  </p>

  <div class=>
  <img src="{{ MEDIA_URL }}{{ account.image_url }}" alt="Picture of {{ account.first_name }}"/>
</div>


<a href="{% url 'account_list_view' %}">back</a>

<h2>This page belongs to:</h2>
  <h3>{{ account.first_name }}
      {{ account.last_name }}
  </h3>
<p>
  Username: {{ account.user }}
</p>
<br>
<br>

<h3>Contact info
</h3>
Phone: &nbsp;{{ account.phone_number }}
<p>
Home address: &nbsp;{{ account.adress }}
</p>
<p>
City: &nbsp;{{ account.city }}, {{ account.state }}
</p>
<p>
Email adress:&nbsp; {{ account.email }}
</p>
<br><br>

<h1>MAP HERE:</h1>
  </body>

{% if object.user.id == request.user.id %}
  <p>
    <a href="{% url 'account_update_view' %}"><h6>Update Account Info</h6></a>
  </p>
{% endif %}

{% endif %}

{% endblock %}
