{% extends 'base.html' %}
{% block content %}

  {% if account.is_customer and request.user.account.is_driver or account.user.id == request.user.id or request.user.account.is_customer and account.is_driver %}

  <div class=>
  <img src="{{ MEDIA_URL }}{{ account.image_url }}" alt="Picture of {{ account.first_name }}" height="150" width="150"/>
</div>


<a href="{% url 'account_list_view' %}">back</a>

<h2>This page belongs to:</h2>
  <h3>{{ account.first_name }}
      {{ account.last_name }}
  </h3>
<p>
  Username: {{ account.user }}
</p>
<br>
<br>

<h3>Contact info
</h3>
<p>
  Phone: &nbsp;{{ account.phone_number }}

</p>
<p>
Home address: &nbsp;{{ account.adress }}
</p>
<p>
City: &nbsp;{{ account.city }}
</p>
<p>
State: &nbsp;{{ account.state }}
</p>
<p>
Email adress:&nbsp; {{ account.email }}
</p>
<br><br>

<h1>MAP HERE:</h1>

{% if object.user.id == request.user.id %}
  <p>
    <a href="{% url 'account_update_view' %}"><h6>Update Account Info</h6></a>
  </p>
{% endif %}

{% endif %}

{% if account.user_type == 'c' %}
{% if account.get_last_cart %}
{% if account.get_last_cart.posted %}

<div class="panel panel-default">
  <a href="{% url 'cart_update_view' account.get_last_cart.id %}">Accept this list?</a>

  <div class="panel-body">{% for item in account.get_last_cart.items.all %}

  <ul>
    {{ item }}
  </ul>
  {% endfor %}</div>
</div>
{% endif %}
{% endif %}
{% endif %}
{% endblock %}
