{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    {% if request.user.account.is_driver %}

    <a href="{% url 'account_update_view' %}">Update your information</a>

    <p>
      You are signed up as a driver
    </p>

    <h2> Customer List </h2>
    <p>
      This is a list of our all of our customers
    </p>
{% for account in object_list %}
{% if account.is_customer %}
<p>
  <a href="{% url 'account_detail_view' account.id %}">{{ account }}</a>
</p>
{% endif %}
{% endfor %}
{% endif %}

  </body>
</html>
