{% extends 'base.html' %}
{% block content %}



    {% if request.user.account.is_driver %}

    <p>
      You are signed up as a driver
    </p>

    <h2> Customer List </h2>
    <p>
      This is a list of of our customers with pending orders.
    </p>
{% for account in object_list %}

{% if account.is_customer %}
{% if account.get_last_cart %}
{% if not account.get_last_cart.complete and not account.get_last_cart.in_progress %}
<h3>
 <a href="{% url 'account_detail_view' account.id %}">{{ account }}</a>
</h3>
<hr>
{% endif %}
{% endif %}
{% endif %}
{% endfor %}

{% else %}


<p>
  Browse popular drivers:
</p>

<h2> Driver List </h2>
<p>
  This is a list of our drivers
</p>
{% for account in object_list %}

{% if account.is_driver %}
<h4>
<a href="{% url 'account_detail_view' account.id %}">{{ account }}</a>
</h4>
{% endif %}
{% endfor %}
{% endif %}

{% endblock %}
