{% extends 'base.html' %}
{% block content %}



<div class="panel panel-default">
<div class="panel-body">
{% if not object.complete and object.posted %}

    <h2>Update cart</h2>
{{ object.user }}: <br>
{{ object.user.account.first_name }}
{{ object.user.account.last_name }}
<br><br>
      <form class="" action="" method="post" enctype="multipart/form-data">
          {% csrf_token %}


{% if object.in_progress %}
        Order has been completed?
        <br>
              <label for="complete">Complete:</label>
              <div class=double>
                <input type=checkbox name="complete">
              </div>
          <input class="signUpBtn btn btn-primary" type="submit" value="Submit" />

{% else %}
        Agree to deliver this order?
<br>
              <label for="in_progress">I accept:</label>
              <div class=double>
                <input type=checkbox name="in_progress">
              </div>

              <input class="signUpBtn btn btn-primary" type="submit" value="Agree" />

{% endif %}
<br><br><br><br>

      </form>

{% else %}
This cart, order num:{{ object.id }}, has already been completed.
{% endif %}

</div>
</div>

<h1>MAP:</h1>


{% endblock %}
