{% extends 'base.html' %}
{% block content %}


{% if not object_list %}
<div class="panel panel-default">
<div class="panel-heading">
<h4>You haven't signed up for any deliveries.</h4>
<h5><a href="{% url 'account_list_view' %}">Click here</a> to see a list of active orders.</5>

</div>
</div>

{% else %}

<div class="panel panel-default">
<div class="panel-heading">
  <h2 style="text-align: center;"> Signed Orders </h2>
  <p style="font-family: Old Standard TT; text-align: center; font-size: 25px">
    These are all the orders you have agreed to deliver
  </p>
</div>
{% for object in object_list %}
{% if not object.complete %}
{% if object.posted %}
{% if object.in_progress %}
  <div class="panel-body">
<h2 style="text-align: center;">
<a style="color: black;" href="{% url 'cart_update_view' object.id %}">{{ object.user }}</a>
</h2>
<h4> <a href="{% url 'account_detail_view' object.user.account.id %}">See profile</a>
</h4>
<!-- ${{ object.total }}.00 -->
<hr>
{% endif %}
{% endif %}
{% endif %}
{% endfor %}
</div>
</div>

{% endif %}

{% endblock %}
