{% extends 'base.html' %}
{% block content %}



<div class="panel panel-default">
<div class="panel-body">
{% if not object.complete and object.posted %}

    <h2>Update cart</h2>
{{ object.user }}: <br>
<p>

{% if object.user.account.first_name %}

{{ object.user.account.first_name }}

{{ object.user.account.last_name }}
{% endif %}
</p>


{% if object.user.account.adress %}
<p> Address: {{ object.user.account.adress }}</p>

{% endif %}
{% if object.user.account.zipcode %}
<p> Zip code: {{ object.user.account.zipcode }}</p>
{% endif %}
{% if object.user.account.city %}
<p> City: {{ object.user.account.city }}</p>
{% endif %}


<br><br>
      <form class="" action="" method="post" enctype="multipart/form-data">
          {% csrf_token %}


{% if object.in_progress %}
        Order has been completed?
        <br>
              <label for="complete">Complete:</label>
              <div class=double>
                <input type=checkbox name="complete">
              </div>
              <br><br><br>

          <input class="signUpBtn btn btn-primary" type="submit" value="Submit" />

{% else %}
        Agree to deliver this order?
<br>
              <label for="in_progress">I accept:</label>
              <div class=double>
                <input type=checkbox name="in_progress">

              </div>
              <br><br>

              <input class="signUpBtn btn btn-primary" type="submit" value="Agree" />

{% endif %}

<div class="well well-lg">

{% for item in object.items.all %}

  <ul>
  <li> {{ item }}</li>
    ${{ item.price }}.00
    <hr>

  </ul>
  {% endfor %}
<h3>Total: ${{ object.total }}.00</h3></div>

</div>

      </form>

{% else %}
This cart, order num:{{ object.id }}, has already been completed.
{% endif %}

</div>
</div>



{% endblock %}
