{% extends 'base.html' %}
{% block content %}



{% if not object.complete and object.posted %}

    <h2>Update cart</h2>
{{ object.user }}: <br>
{{ object.user.account.first_name }}
{{ object.user.account.last_name }}
<br><br>
      <form class="" action="" method="post" enctype="multipart/form-data">
          {% csrf_token %}


{% if object.in_progress %}
        Order has been completed?
          <p><label for="complete">Complete:</label>
              <input type="checkbox" name="complete"  /></p>

{% else %}
        Agree to deliver this order?
          <p><label for="in_progress">In progress:</label>
              <input type="checkbox" name="in_progress" /></p>
{% endif %}

      <input type="submit" name="" value="Update">

      </form>

{% else %}
This cart, order num:{{ object.id }}, has already been completed.
{% endif %}

<h1>MAP:</h1>


{% endblock %}
