
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  body{
  height: 100%;
  // font-family: 'Domine', serif;
  // background-image: 'https://www.photocase.com/photos/1238726-healthy-eating-life-eating-food-photograph-style-background-picture-photocase-stock-photo-large.jpeg',
  background-image: url('../images/background.jpg');
  // background-image: url('http://shushi168.com/data/out/222/37188142-textured-wallpaper.jpg');
  background-size: 100%;
  // background-repeat: no-repeat;
  }
}

// .driverLink {
//   font-size: 100px;
//   margin-top: -50px;
//   border: 5px solid red;
// }

h1{
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 4vw;
}

.btn {
  font-family: 'Oswald';
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
//   background-color: #1E2C38;
//   border-color: #1E2C38;
}

img {
  max-width: 100%;
}

#map {
  height: 300px;;
}


//############      HEADER/NAV BAR STYLING   ############################################################//



.navbar {
//   // background-color: white;
  opacity: 0.9;
//   // margin-bottom: 0px;
//   // height:70px;
}
a.nav-link{
  color: #202D38;
  font-family: 'Oswald', sans-serif;
  font-size: 1.6vw;
  font-weight: 300;
}

.logoutBtn {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 14px;
  padding: 15px;
  background: #5E86A9;
  border: 1px solid #5E86A9;
  text-transform: uppercase;
}

.userWelcome {
  // float: right;
  // margin-top: 16px;
  // margin-left: 285px;
  // margin-right: 10px;
  font-family:'Old Standard TT', sans-serif;
  font-size: 1.2vw;
}

.prof {
  float: right;
}
.welcome {
  float: right;
  margin-top: 16px;
  margin-left: 320px;
  @media (max-width: 1200px){
   margin-left:150px;
 }
  // @media(max-width: 1050px){
  //   margin-left: px;
  // }
  @media(max-width: 993px){
    margin-left: 55px;
  }
  // margin-right:10px;
}
.profilePicture {
  // float: right;
  width: 4vw;
  height: 4vw;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
   img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
   }
}
.logout {
  font-family: "Old Standard TT", sans-serif;
}


//############      FOOTER  STYLING   ############################################################//



.footer {
  font-family: 'Old Standard TT', serif;
  text-align: center;
  background-color: #1E2C38;
  color: white;
  margin-top: 50px;
  // margin-left: -70px;
  margin-right: 0px;
  // width: 1280px;
  height: 200px;
  opacity: 0.9;
  // font-family: 'Old Standard TT', serif;
  .glyphicon {
    margin-right:10px;
  }
  h1 {
    font-weight: bold;
  }
  h2 {
    margin-bottom: 40px;
    font-size: 2.8vw;
  }
  .info{
    margin-right: 40px;
    font-size: 1.5vw;
  }
  i {
    background-color: #5E86A9;
    padding:10px;
    font-size: 1.8vw;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 20px;
    // margin-bottom: 50px;
  }
  i.fa-facebook {
    padding-left: 13px;
    padding-right:13px;
  }
}

//############      LOGIN PAGE STYLING   ############################################################//

.signUpBtn,
.signInBtn {
  background-color: #5E86A9;
  border: #5E86A9;
  font-size: 1.5vw;
}
.driverSignIn {
  font-family: 'Old Standard TT';
  text-decoration: none;
  font-size: 1.5vw;
  float: right;
  margin-right: 15px;
}
.driverLink {
  color: #337ab7;
  text-decoration: none;
  font-family: 'Old Standard TT';
  font-size: 1.5vw;
  margin: 10px;
}
.loginLabel,
.signupLabel {
  font-size: 2.5vw;
}
.loginContainer {
  margin-top: 100px;
}
.mainLogin {
  opacity: 0.9;
}
label,
h2,
input.form-control {
  font-family: 'Old Standard TT', serif;
}



//############      HOME PAGE STYLING   ############################################################//


.mainImage {
  background-image: url('http://www.kavodseniorlife.org/wp-content/uploads/2015/01/Food-Rainbow.jpg');
  height:26vw;
  background-size: 100%;
  @media(max-width: 1199px){
    height: 23vw;
  }
  @media (max-width: 991px){
    height: 21vw;
  }
  background-repeat: no-repeat;
}

  h1 {
    font-family: 'Oswald';
    font-weight: bold;
  }
  h3, h4, h3 {
    text-align: center;
    font-family: 'Old Standard TT', sans-serif;
  }
  h3 {
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
  }
  .navMap {
    float: right;
    font-size: 1.5vw;
    margin-right: 10px;
    background-color: #5E86A9;
    border: #5E86A9;
    margin-top: 20px;
    @media(max-width: 991px){
      margin-top: 30px;
    }
  }
  .description {
    opacity: 0.9;
    padding: 30px;
    border-radius: 5px;
    h4 {
      line-height: 1.5;
      padding-left: 100px;
      padding-right: 100px;
    }
  }
  .appDirections {
      list-style: none;
      line-height: 1.5;

      .numberOne,
      .numberTwo,
      .numberThree,
      .numberFour  {
        background-color:#D93809;
        display:inline-block;
        margin-right:5px;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        padding-top: 5px;
        color: white;
      }
      .numberTwo {
        background-color: #E69509;
      }
      .numberThree {
        background-color: #8DAE00;
      }
      .numberFour {
        background-color: #5C313D;
      }
      .headingOne,
      .headingTwo,
      .headingThree,
      .headingFour {
        background-color:#D93809;
        display:inline-block;
        height: 35px;
        width: 200px;
        color: white;
        text-transform: uppercase;
        padding-top: 2px;
        font-family: 'Oswald';
        letter-spacing: 0.2em;
        padding: 5px;
        text-align: left;
      }
      // .headingOne:before {
      //   content: '';
      //   position: absolute;
      //   left: 50%;
      //   width: 100%; height: 100%;
      //   border-radius: 100%;
      //   // box-shadow: 0px 300px 0px 300px #000;
      // }
      .headingTwo {
        background-color: #E69509;
      }
      .headingThree {
        background-color: #8DAE00;
      }
      .headingFour {
        background-color: #5C313D;
      }
      .dirOne span,
      .dirTwo span,
      .dirThree span,
      .dirFour span {
        display: block;
        text-align: left;
        margin-left: 42px;
      }
      // .dirOne span{
      //   display: block;
      // }
      // .dirTwo span{
      //   display: block;
      // }
      // .dirThree span{
      //   display: block;
      // }
      // .dirFour span{
      //   display: block;
      // }
  }




//############      ACCOUNT PAGE STYLING   ############################################################//

.form-group {
  height: 50px;
}
.accountForm {
  background-color: white;
  // opacity: 0.9;
  padding: 50px;
  label {
    font-size: 1.6vw;
    @media (max-width: 800px){
     font-size: 15px;
    }
  }
}
.accountHeader {
  color: white;
}
.accountBtn {
  position: relative;
  float: right;
  bottom: 25px;
  background-color: #5E86A9;
  border: #5E86A9;
  font-size: 1.6vw;
}
.glyphicon-chevron-right {
  font-size: 1.6vw;
}




//############      MAP PAGE STYLING   ############################################################//


.map {
  height: 100%;
}
.navItemsBtn {
  float: right;
  background-color: #5E86A9;
  border: #5E86A9;
  margin-top: 20px;
}
.locationTitle {
  color: white;
}


//############      ITEM LIST PAGE STYLING   ############################################################//


.foodListItem {
  list-style: none;
  height: 350px;
  border: 1px solid black;
  position: relative;
  .name {
    font-size: 15px;
    font-family: 'Old Standard TT', sans-serif;
    font-weight: bold;
  }
  .price {
    font-family: 'Old Standard TT', sans-serif;
  }
  #quantity {
    width: 80px;
  }
  .orderButtons {
    position: absolute;
  }
}

.navbar-form {
  text-align: center;
}
.add-on .input-group-btn > .btn {
  height: 34px;
  border-left-width:0;left:-2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.addToCartBtn {
  background: #5E86A9;
  border: 1px solid #5E86A9;
  font-size: 1.5vw;
}

.glyphicon-search {
  top: -2px;
}

.navCartBtn {
  float: right;
  background-color: #5E86A9;
  border: #5E86A9;
  font-size: 1.5vw;
}
.viewDetail {
  font-size: 1.5vw;
}

img.itemImage {
  max-width: 100%;
}
.imgContainer {
  width: 50px;
  height: 50px;
}

h2.searchDirections {
  text-align: center;
  font-size:25px;
}


//############      DETAIL PAGE STYLING   ############################################################//

.itemDetailHeader {
  color: white;
}
.itemDetailImg {
  margin-left: 120px;
}




//############      CART PAGE STYLING   ############################################################//
.cartHeadings span {
  font-family: 'Old Standard TT', sans-serif;
  font-size: 2vw;
  color: #727C77;
  // @media(max-width: 992px){
  //   margin-right: 150px;
  // }
  // @media(max-width: 596px){
  //   margin-right: 120px;
  // }
}


.cartItem.well{
font-family: 'Old Standard TT', sans-serif;
height: 70px;
}

.containsItem {
  padding-bottom: 35px;
  font-size: 1.8vw;
}

.deleteBtn {
  float: right;
  position: relative;
  top: -35px;
  @media(max-width: 991px){
    top: -4px;
  }
  font-family: 'Oswald';
  background: #5E86A9;
  border: 1px solid #5E86A9;
  font-size: 1.5vw;
}

.backItemsBtn {
  background: #5E86A9;
  border: 1px solid #5E86A9;
  margin-top: 20px;
  font-size: 1.5vw;
}

.total {
  font-size: 15px;
}
.placeOrderBtn {
  float: right;
  font-size: 1.5vw;
//   position: relative;
//   top: 10px;
//   left: 900px;
}
.glyphicon-shopping-cart {
  margin-right: 5px;
}
.newCartBtn {
  font-size: 1.5vw;
}


//############      FINAL PAGE STYLING   ############################################################//

.finished {
  color: #1E2C38;
  padding: 50px;
  font-size: 3vw;
}
