
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  body{
  height: 100%;
  // font-family: 'Domine', serif;
  // background-image: 'https://www.photocase.com/photos/1238726-healthy-eating-life-eating-food-photograph-style-background-picture-photocase-stock-photo-large.jpeg',
  background-image: url('https://www.photocase.com/photos/1663924-healthy-eating-life-eating-food-photograph-style-food-photocase-stock-photo-large.jpeg');
  // background-image: url('http://shushi168.com/data/out/222/37188142-textured-wallpaper.jpg');
  background-size: 100%;
  // background-repeat: no-repeat;
  }
}

// .driverLink {
//   font-size: 100px;
//   margin-top: -50px;
//   border: 5px solid red;
// }

h1{
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 50px;
}

.btn {
  font-family: 'Oswald';
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
//   background-color: #1E2C38;
//   border-color: #1E2C38;
}

img {
  max-width: 100%;
}

#map {
  height: 300px;;
}


//############      HEADER/NAV BAR STYLING   ############################################################//



.navbar {
//   // background-color: white;
  opacity: 0.9;
//   // margin-bottom: 0px;
//   // height:70px;
}
a.nav-link{
  color: #202D38;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  font-weight: 300;
}

.logoutBtn {
  font-family: 'Oswald', sans-serif;
  // font-weight: 300;
  font-size: 14px;
  padding: 15px;
  background: #5E86A9;
  border: 1px solid #5E86A9;
  text-transform: uppercase;
}

.userWelcome {
  margin-left: 350px;
  margin-right: 10px;
  font-family:'Old Standard TT', sans-serif;
  font-size: 16px;
}


//############      FOOTER  STYLING   ############################################################//



.footer {
  font-family: 'Old Standard TT', serif;
  text-align: center;
  background-color: #1E2C38;
  color: white;
  margin-top: 50px;
  // margin-left: -70px;
  margin-right: 0px;
  // width: 1280px;
  height: 200px;
  opacity: 0.9;
  // font-family: 'Old Standard TT', serif;
  .glyphicon {
    margin-right:10px;
  }
  h1 {
    font-weight: bold;
  }
  h2 {
    margin-bottom: 40px;
  }
  .info{
    margin-right: 40px;
    font-size: 20px;
  }
  i {
    background-color: #5E86A9;
    padding:10px;
    font-size: 20px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 20px;
    // margin-bottom: 50px;
  }
  i.fa-facebook {
    padding-left: 13px;
    padding-right:13px;
  }
}

//############      LOGIN PAGE STYLING   ############################################################//

.signUpBtn,
.signInBtn {
  background-color: #5E86A9;
  border: #5E86A9;
}



//############      HOME PAGE STYLING   ############################################################//


.mainImage {
  background-image: url('http://www.kavodseniorlife.org/wp-content/uploads/2015/01/Food-Rainbow.jpg');
  height:333px;
  background-size: 100%;
  background-repeat: no-repeat;
}

  h1 {
    font-family: 'Old Standard TT';
    font-weight: bold;
  }
  h3, h4, h3 {
    text-align: center;
    font-family: 'Old Standard TT', sans-serif;
  }
  h3 {
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
  }
  .navMap {
    float: right;
    margin-right: 10px;
    background-color: #5E86A9;
    border: #5E86A9;
  }
  .description {
    // width: 800px;
    // margin-left: 150px;
    // background-color: #28313A;
    // color: white;
    opacity: 0.9;
    // margin-top: 40px;
    padding: 30px;
    border-radius: 5px;
    // h3 {
    //   line-height: 1.5;
    // }
    h4 {
      line-height: 1.5;
      padding-left: 100px;
      padding-right: 100px;
    }
  }
  .appDirections {
    ul, li{
      list-style: none;
      // background-color: #28313A;
      // color: white;
      // opacity: 0.9;
      // padding: 40px;
      border-radius: 5px;
      // width:800px;
      // margin-left:150px;
      line-height: 1.5;
    }
  }


.itemBackground {
  // background-color: #28313A;
  // background-color: white;
  opacity: 0.9;
}


//############      ACCOUNT PAGE STYLING   ############################################################//

.form-group {
  height: 50px;
}
.accountForm {
  background-color: white;
  // opacity: 0.9;
  padding: 50px;
  label {
    font-size: 20px;
  }
}
.accountHeader {
  color: white;
}
.accountBtn {
  position: relative;
  float: right;
  bottom: 25px;
  background-color: #5E86A9;
  border: #5E86A9;
}
.glyphicon-chevron-right {
  font-size: 18px;
}



//############      MAP PAGE STYLING   ############################################################//


.map {
  height: 100%;
}
.navItemsBtn {
  float: right;
  background-color: #5E86A9;
  border: #5E86A9;
}


//############      ITEM LIST PAGE STYLING   ############################################################//


.foodListItem {
  list-style: none;
  height: 350px;
  border: 1px solid black;
  // margin:5px;
  .name {
    font-size: 15px;
    font-family: 'Old Standard TT', sans-serif;
    font-weight: bold;
  }
  .price {
    font-family: 'Old Standard TT', sans-serif;
  }
  #quantity {
    width: 80px;
  }
}

.navbar-form {
  text-align: center;
}
.add-on .input-group-btn > .btn {
  height: 34px;
  border-left-width:0;left:-2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.addToCartBtn {
  background: #5E86A9;
  border: 1px solid #5E86A9;
}

.glyphicon {
  top: -2px;
}

.navCartBtn {
  float: right;
  background-color: #5E86A9;
  border: #5E86A9;
}

img.itemImage {
  max-width: 100%;
}
.imgContainer {
  width: 50px;
  height: 50px;
}

h2.searchDirections {
  text-align: center;
  font-size:25px;
}


//############      DETAIL PAGE STYLING   ############################################################//

.itemDetailHeader {
  color: white;
}
.itemDetailImg {
  margin-left: 140px;
}




//############      CART PAGE STYLING   ############################################################//
.cartHeadings span {
  font-family: 'Old Standard TT', sans-serif;
  font-size: 30px;
  color: #727C77;
}

.cartItem.well{
font-size: 20px;
font-family: 'Old Standard TT', sans-serif;
height: 70px;
}

.containsItem {
  padding-bottom: 35px;
}

.deleteBtn {
  float: right;
  position: relative;
  top: -35px;
  font-family: 'Oswald';
  background: #5E86A9;
  border: 1px solid #5E86A9;
}

.backItemsBtn {
  background: #5E86A9;
  border: 1px solid #5E86A9;
}

.total {
  font-size: 15px;
}
.placeOrderBtn {
  float: right;
//   position: relative;
//   top: 10px;
//   left: 900px;
}


//############      LOGIN PAGE STYLING   ############################################################//

.loginContainer {
  margin-top: 100px;
}
.mainLogin {
  opacity: 0.9;
}
label {
  font-family: 'Old Standard TT', serif;
}
h2 {
  font-family: 'Old Standard TT', serif;
}
input.form-control {
  font-family: 'Old Standard TT', serif;
}
.driverLink {
  color: #337ab7;
  text-decoration: none;
  font-family: 'Old Standard TT';
  font-size: 16px;
  margin: 10px;
}
