{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Driver view</title>
    <link href="https://fonts.googleapis.com/css?family=Lora|Old+Standard+TT|Open+Sans|Oswald" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" media="screen" title="no title" charset="utf-8">
  <style media="screen">
  </style>


  </head>
  <body>


    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="{% url 'index_view' %}">Store To Door</a>
        <ul class="nav navbar-nav">
          {% if request.user.account.user_type == 'd' %}
          <a href="{% url 'cart_list_view' %}"><button type="button" class="btn btn-default navbar-btn">Signed carts</button></a>
          <a href="{% url 'account_list_view' %}"><button type="button" class="btn btn-default navbart-btn">Pending Orders</button></a>
    {% endif %}
    </ul>
    </div>
    {% if request.user.is_authenticated %}
      <p class="navbar-text navbar-right"> <a href="{% url 'logout' %}?next={% url 'login' %}"><button type="button" class="btn btn-default navbar-btn">Log out</button></a></p>
      <p class="navbar-text navbar-right">Welcome, <a href="{% url 'account_update_view' %}">{{ request.user }}</a></p>
      {% endif %}
    </div>
    </nav>

<div class="container">
  {% block content %}
  {% endblock %}
</div>


  </body>
</html>
