{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Assistive Shopping</title>
    <link href="https://fonts.googleapis.com/css?family=Lora|Old+Standard+TT|Open+Sans|Oswald" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="{% static 'dist/css/app.css' %}">
  </head>
  <style media="screen">

  </style>
  <body>
    <div id="app"></div>
    {% csrf_token %}
    <script
   src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDJEwAaweEQb7eNqNzQJ7LpZ7Eqsh8rLdg&libraries=places"></script>
    <script src="{% static 'dist/js/bundle.js' %}"></script>

  </body>
</html>
